<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>聊天应用</title>
    <!-- 引入 Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div id="app" class="h-screen">
        <div class="fixed top-0 left-0 h-[calc(100%-72px)] z-10 w-1/4 bg-base-200 p-4 flex flex-col">
            <h2 class="text-2xl font-semibold mb-4">会话列表</h2>
            <ul class="w-full flex-1 space-y-2">
                <li v-for="conversation in userConversations" :key="conversation" class="w-full">
                    <label class="btn pl-2 label cursor-pointer">
                        <span class="label-text">{{ conversation }}</span>
                        <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked="checked"
                            v-model="currentConversationId" :value="conversation" />
                    </label>
                    <!-- <input :id="`conversation-radio-${conversation}`" class="radio" type="radio"
                        v-model="currentConversationId" :value="conversation">
                    <label :for="`conversation-radio-${conversation}`"
                        class="w-full flex justify-center cursor-pointer bg-base-300 transition duration-300 ease-in-out">
                        {{ conversation }}
                    </label> -->
                </li>
            </ul>
        </div>
        <div class="absolute top-4 pb-[100px] pl-[calc(25%+32px)]">
            <ul class="space-y-2">
                <li v-for="message of messages" :key="message.uuid"
                    :class="message.userID === userId? 'message sender' : 'message receiver'">
                    <span>{{ message.content }}</span>
                    <small>{{ message.time }}</small>
                    <span v-if="message.status === 1">发送中...</span>
                    <span v-if="message.status === 2">发送失败</span>
                </li>
            </ul>
            <form @submit.prevent="sendMessage"
                class="flex items-center justify-center fixed bottom-0 left-0 right-0 bg-base-200 bg-opacity-75 p-4 shadow-lg">
                <input type="text"
                    class="input flex-1"
                    v-model="messageContent" placeholder="输入消息">
                <button type="submit" class="px-4" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            setup() {
                // 从 URL 查询参数中获取 conversationId
                const urlParams = new URLSearchParams(window.location.search);
                const userId = Vue.ref(urlParams.get('userId') || '');

                // 数据
                const messages = Vue.ref({});
                const messageContent = Vue.ref('');
                const joinConversationId = Vue.ref('');
                const userConversations = Vue.ref([]);
                const currentConversationId = Vue.ref('');

                Vue.watch(currentConversationId, () => {
                    if (currentConversationId) {
                        getChatHistory();
                    }
                });

                // WebSocket 连接对象
                let socket;

                // 连接 WebSocket 的函数
                const connectWebSocket = () => {
                    socket = new WebSocket(`ws://${window.location.host}/ws?userId=${userId.value}`);
                    socket.onopen = () => {
                        getChatHistory();
                    };
                    socket.onmessage = event => {
                        const message = JSON.parse(event.data);
                        messages.value = { ...messages.value, ...{ [message.uuid]: message } };
                    };
                    socket.onclose = () => {
                        // 连接关闭时尝试重新连接
                        console.log('WebSocket 连接关闭，尝试重新连接...');
                        setTimeout(connectWebSocket, 3000);
                    };
                };

                // 发送消息方法
                const sendMessage = () => {
                    const message = {
                        content: messageContent.value,
                        userId: parseInt(userId.value),
                        conversationId: currentConversationId.value,
                        time: new Date().toISOString(),
                        uuid: Math.random().toString(36).substring(2, 9),
                        type: 'chat',
                        status: 1 // 设置初始状态为 sending
                    };
                    if (socket && socket.readyState === WebSocket.OPEN) {
                        socket.send(JSON.stringify(message));
                        messages.value = { ...messages.value, ...{ [message.uuid]: message } };
                        messageContent.value = '';
                    } else {
                        console.error('WebSocket 连接未打开，无法发送消息。');
                    }
                };

                const getChatHistory = () => {
                    fetch(`/history?conversationId=${currentConversationId.value}`)
                        .then(response => response.json())
                        .then(data => {
                            messages.value = data.messages?.map(message => {
                                message.status = 0; // 设置状态为已接收
                                return message;
                            })
                                || {};
                        })
                        .catch(error => console.error('获取历史聊天记录错误：', error));
                };

                const joinConversation = () => {
                    fetch(`/join?userId=${userId.value}&conversationId=${joinConversationId.value}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.message === 'joined conversation successfully') {
                                connectWebSocket();
                                getUserConversations();
                            }
                        })
                        .catch(error => console.error('加入会话错误：', error));
                };

                const getUserConversations = () => {
                    fetch(`/userConversations?userId=${userId.value}`)
                        .then(response => response.json())
                        .then(data => {
                            userConversations.value = data.conversations || [];
                        })
                        .catch(error => console.error('获取用户会话错误：', error));
                };

                // 生命周期钩子
                Vue.onMounted(() => {
                    connectWebSocket();
                    getUserConversations();
                });

                return {
                    messages,
                    messageContent,
                    userId,
                    sendMessage,
                    joinConversationId,
                    joinConversation,
                    userConversations,
                    getUserConversations,
                    currentConversationId
                };
            }
        });
        app.mount('#app');
    </script>
</body>

</html>